<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Academia Falcons</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/IndexStyle.css">
</head>

<body>

<header class="header">
  <!-- LOGO IMAGEN -->
  <a class="logo" href="/">
    <img src="/logo.png" alt="Falcons">
  </a>

  <!-- MENU -->
  <nav class="nav" id="nav">
    <a href="/nosotros">Nosotros</a>
    <a href="/calificaciones/ranking">Rankings</a>
    <a href="/prematricula">Matricula</a>
    <a href="/login">Plataforma</a>
  </nav>

  <!-- BOTONES -->
  <div class="acciones">
    <button class="btn-info" onclick="abrirWhatsApp()">Solicitar información</button>
  </div>

  <!-- HAMBURGUESA -->
  <div class="hamburguesa" id="hamburguesa">
    ☰
  </div>
</header>

<!-- HERO -->
<section class="hero">
  <div class="overlay"></div>

  <!-- SIN animar -->
  <div class="hero-text">
    <h1>
      LA DISCIPLINA TARDE O TEMPRANO <br>
      VENCERÁ LA INTELIGENCIA
    </h1>

    <div class="hero-buttons">
      <button class="btn-primary" onclick="window.location.href='/prematricula'">Inscribirme</button>
      <button class="btn-secondary" onclick="window.location.href='/nosotros'">Ver programas</button>
    </div>
  </div>

  <!-- REDES -->
  <div class="social">
    <a href="https://www.facebook.com/profile.php?id=100063776569008&locale=es_LA"
       class="social-btn-facebook"
       target="_blank"
       rel="noopener noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <path fill="#ffffff" d="M35.9 62.3h-7.3c-2.2 0-4-1.9-4-4.2V36.6h-5.3c-2.2 0-4-1.9-4-4.2V26c0-2.3 1.8-4.2 4-4.2h5.2v-5.3c0-8.7 5.4-14.8 13.2-14.8h5.5c2.2 0 4 1.9 4 4.2v7.5c0 2.3-1.8 4.2-4 4.2h-3.4v4.1h4.8c1.2.1 2.3.6 3.1 1.5c.8 1 1.1 2.2.9 3.5L47.4 33c-.3 2-1.9 3.4-3.9 3.4h-3.7V58c0 2.4-1.7 4.3-3.9 4.3m-6.8-4.5h6.2V34.2c0-1.2 1-2.3 2.3-2.3H43l1.1-5.7h-6.5c-1.2 0-2.3-1-2.3-2.3v-6.7c0-1.9.5-4.2 4.1-4.2h3.3V6.3h-5c-5.3 0-8.7 4-8.7 10.3v7.5c0 1.2-1 2.3-2.3 2.3h-6.9v5.7h7c1.2 0 2.3 1 2.3 2.3zm15-31.9"/>
      </svg>
    </a>
    <a href="https://www.youtube.com/@ACADEMIAVIRTUAL-tt1lq"
       class="social-btn-youtube"
       target="_blank"
       rel="noopener noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
          <path d="M2 12c0-3.3 0-4.95 1.464-5.975C4.93 5 7.286 5 12 5s7.071 0 8.535 1.025S22 8.7 22 12s0 4.95-1.465 5.975C19.072 19 16.714 19 12 19s-7.071 0-8.536-1.025S2 15.3 2 12"/>
          <path d="M10.5 9.908v4.184a.41.41 0 0 0 .412.408a.4.4 0 0 0 .228-.068l3.175-2.074a.405.405 0 0 0 .003-.678l-3.175-2.11a.415.415 0 0 0-.573.11a.4.4 0 0 0-.07.228"/>
        </g>
      </svg>
    </a>
    <a href="https://www.tiktok.com/@academia_falcons"
       class="social-btn-tiktok"
       target="_blank"
       rel="noopener noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.2 10.1c0 .22-.18.401-.4.39a8 8 0 0 1-3.362-.93c-.281-.15-.638.045-.638.364V15.5a6 6 0 1 1-6.4-5.987a.38.38 0 0 1 .4.387v2.8c0 .22-.18.397-.398.433A2.4 2.4 0 1 0 12.2 15.5V2.9a.4.4 0 0 1 .4-.4h2.8a.43.43 0 0 1 .418.4a4.4 4.4 0 0 0 3.983 3.982c.22.02.4.197.4.418z"/>
      </svg>
    </a>
    <a href="https://www.instagram.com/academiafalconsayacucho/"
       class="social-btn-instagram"
       target="_blank"
       rel="noopener noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"/>
          <path d="M16 11.37A4 4 0 1 1 12.63 8A4 4 0 0 1 16 11.37m1.5-4.87h.01"/>
        </g>
      </svg>
    </a>
  </div>

  <!-- WHATSAPP -->
  <a href="#" class="whatsapp" id="btnWhatsApp" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 258">
      <defs>
        <linearGradient id="IconifyId19dab61ea069167192" x1="50%" x2="50%" y1="100%" y2="0%">
          <stop offset="0%" stop-color="#1FAF38"/>
          <stop offset="100%" stop-color="#60D669"/>
        </linearGradient>
        <linearGradient id="IconifyId19dab61ea069167193" x1="50%" x2="50%" y1="100%" y2="0%">
          <stop offset="0%" stop-color="#F9F9F9"/>
          <stop offset="100%" stop-color="#FFF"/>
        </linearGradient>
      </defs>
      <path fill="url(#IconifyId19dab61ea069167192)" d="M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a123 123 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004"/>
      <path fill="url(#IconifyId19dab61ea069167193)" d="M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416m40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513z"/>
      <path fill="#FFF" d="M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561s11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716s-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64"/>
    </svg>
  </a>
</section>

<!-- TARJETAS -->
<section class="features">
  <div class="card animar">Cursos Preparativos</div>
  <div class="card animar">Simulacros de Examen</div>
  <div class="card animar">Mentoría Personalizada</div>
</section>

<!-- VENTAJAS -->
<section class="contenedor2">
  <h2 class="animar">VENTAJAS DE FORMAR PARTE DE FALCONS</h2>

  <div class="grid">
    <div class="feature-item animar">Habilidades críticas</div>
    <div class="feature-item animar">Simulacros constantes</div>
    <div class="feature-item animar">Disciplina y liderazgo</div>
    <div class="feature-item animar">Clases dinámicas</div>
    <div class="feature-item animar">Alto nivel académico</div>
    <div class="feature-item animar">Docentes expertos</div>
  </div>
</section>

<!-- FOOTER -->
<footer class="footer">
  <h3>ACADEMIA FALCONS</h3>

  <div class="footer-grid">
    <div>
      <h4>Ubicación</h4>
      <p>Encuentra nuestra sede y empieza tu camino.</p>
    </div>

    <div>
      <h4>Contacto</h4>
      <p>Escríbenos para más información.</p>
    </div>

    <div>
      <h4>Ranking</h4>
      <p>Resultados reales de nuestros alumnos.</p>
    </div>
  </div>

  <p class="copy">© 2026 Falcons</p>
</footer>

<script src="/animation.js"></script>
</body>
</html>